<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Code Share</title>
    <link rel="icon" href="{{ asset('img/icon.png') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
</head>

<body>
<div class="head">
    <span><i class="fas fa-code"></i> CodeShare</span>
    <input type="text" name="name" class="title" placeholder="Sans titre" autocomplete="off">
    <button class="share"><i class="fas fa-share-alt"></i> Share</button>
</div>
<div class="code">
    <textarea class="code_area" autocomplete="off" spellcheck="false" placeholder="#include <stdio.h>

int main() {
    printf(&#34;Hello World!&#34;);

    return 0;
}"></textarea>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    const postUrl = "{{ path('submit') }}";
    const linkUrl = "{{ url('see') }}";
</script>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
